<dx-data-grid
  [dataSource]="members"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [allowColumnResizing]="true"
>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 20]"
    [showInfo]="true"
  ></dxo-pager>
  <dxo-editing
    mode="row"
    [allowDeleting]="false"
    [allowUpdating]="false"
  ></dxo-editing>
  <dxi-column dataField="id" caption="ID" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="name" caption="Name"></dxi-column>
  <dxi-column dataField="age" caption="Age" dataType="number"></dxi-column>
  <dxi-column dataField="belt" caption="Belt"></dxi-column>
  <dxi-column type="buttons">
    <dxi-button
      icon="trash"
      hint="Delete"
      [onClick]="deleteMember"
    ></dxi-button>

    <dxi-button icon="edit" hint="Edit" [onClick]="openEditPopup"></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  [(visible)]="isPopupVisible"
  [width]="400"
  [height]="300"
  [showTitle]="true"
  title="Edit Member"
>
  <div *ngIf="selectedMember">
    <dx-form
      [(formData)]="selectedMember"
      [colCount]="1"
      [labelLocation]="'top'"
    >
      <dxi-item dataField="name" [isRequired]="true"></dxi-item>
      <dxi-item dataField="age" [isRequired]="true"></dxi-item>
      <dxi-item dataField="belt" [isRequired]="true"></dxi-item>
    </dx-form>

    <div class="text-center mt-2">
      <button (click)="updateMember()" class="btn btn-primary">
        Save Changes
      </button>
    </div>
  </div>
</dx-popup>
